@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;500;700;800&family=Poppins:wght@300;500;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.background-gradient {
    background: #ffe259;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffa751, #ffe259);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffa751, #ffe259);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backround-linear-gradient {
    background: linear-gradient(to right, #020202ce, #00000000);
}

.banner-gradient {
    background-image: linear-gradient(
        45deg,
        #0072ff,
        #00d2e8 17%,
        #04fd8f 34%,
        #70fd6c 51%,
        #dae11e 68%,
        #ff9346 85%,
        #ff62c6
    );
}
