@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Open+Sans:wght@300;500;700;800&family=Poppins:wght@300;500;700&display=swap');

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.limit {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}